# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# input and output directories
/input/
output/
